<app-navbar></app-navbar>

<main id="formCulqi" class="formCulqi">
  <div
    class="formCulqi container d-flex flex-column justify-content-center align-items-center"
  >
    <h2 class="text-center pt-4">Realizar <strong>Pago</strong></h2>
    <form class="form-login col-sm-12 col-md-6">
      <div class="form-group mt-3">

          <input
            type="text"
            size="50"
            data-culqi="card[email]"
            id="card[email]"
            placeholder="Correo Electrónico"
            class="form-control input-pay pb-2"
            required
          />

      </div>
      <div class="form-group mt-3">

          <input
            type="text"
            size="50"
            data-culqi="card[number]"
            id="card[number]"
            placeholder="Número de tarjeta"
            class="form-control input-pay pb-2"
            required
          />

      </div>
      <div class="form-group mt-3">

          <input
            type="text"
            size="50"
            data-culqi="card[cvv]"
            id="card[cvv]"
            placeholder="Código de seguridad"
            class="form-control input-pay pb-2"
            required
          />

      </div>
      <div class="form-row align-items-center mt-3">
        <div class="col-auto"><span>Fecha expiración (MM/YYYY): </span></div>
        <div class="col-auto">
          <input
            size="2"
            data-culqi="card[exp_month]"
            id="card[exp_month]"
            class="form-control"
            required
          />
        </div>
        <span class="input-date">/</span>
        <div class="col-auto">
          <input
            size="4"
            data-culqi="card[exp_year]"
            id="card[exp_year]"
            class="form-control"
            required
          />
        </div>
      </div>
      <div class="form-group mt-3 d-flex justify-content-center">
        <button
          id="buyButton"
          class="btn btn-primary btn-login mt-3"
          (click)="onSubmit()"
        >
          PAGAR S/. 401.9
        </button>
      </div>
      <p *ngIf="status == '1'" class="pt-2">
          <ngb-alert [dismissible]="false" [type]="'info'">
            <strong>La operación se ha realizado con éxito.</strong>
          </ngb-alert>
        </p>
    </form>
  </div>
</main>



