<div class="container">
    <div class="row">
      <div class="col">
        <div *ngFor="let item of producto">
          <div class="custom-control custom-checkbox" *ngIf="item !== undefined">
            <input (click)="toggleCheck(item)" [checked]="item.estado" type="checkbox" class="custom-control-input" [id]="item.codigo"
              name="">
            <label class="custom-control-label" [for]="item.codigo">{{item.descripcion}}</label>
            <span>{{item.precio}}</span>
          </div>

        </div>
        <br>
        <div class="d-flex justify-content-end">
          <button (click)="sendSubmit()" class="btn btn-primary reclamar" type="button">Hacer reclamo</button>
          <button class="ml-2 btn btn-primary" type="button" (click)="viewPago()">Pagar</button>
        </div>
      </div>

    </div>

  </div>
