

<!-- <p>
  users works
</p>
<input type="checkbox"  name="rememberLogin" ngModel>
<label> hola </label> -->
<main class="main">
    <nav class="navbar fixed-top navbar-dark bg-primary">
      </nav>
  <div
    class="container"
  >
    <h3 class="text-center title pt-5">Mi recibo <strong>Movistar Hogar</strong> </h3>

    <br>
<div class="row">
  <div class="col-12">
    <div id="accordion">
        <div class="card">
          <div class="card-header text-center" >
            <div class="row">
              <div class="col-4">
                  <h3 class=" title" > <strong>Trio Fijo  </strong> s/. 129 </h3>
              </div>
              <div class="col-2">
                  <i class="reciboiconos fas fa-phone-volume"></i>
                </div>
              <div class="col-2">
                 <i class="reciboiconos fas fa-tv"></i>
              </div>
              <div class="col-2">
                  <i class="reciboiconos fas fa-tv"></i>
               </div>
              <div class="col-2">
                  <button class="btn" id="headingOne"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" ><i class="fas fa-chevron-down"></i></button>    </div>
            </div>
            <!-- <h5 class="mb-0">
              <button class="btn btn-link title" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
<h3 class=" title" > <strong>Trio Fijo  <i class="fas fa-phone-volume"></i> </strong></h3>
               <h4>s/. 129</h4>
              </button>
              <button class="btn" ><i class="fas fa-chevron-down"></i></button>
            </h5> -->
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
       </div>
  </div>
</div>
<br>
<!-- <div class="row"> -->
    <div class="d-flex flex-row-reverse ">
      <div class="col-8">
         <div id="accordion">
          <div class="card">
            <div class="card-header text-center" >
              <div class="row">
                <div class="col-9">
                    <h3 class=" title" > Beneficio con cargos adicionales  </h3>
                </div>
              
                <div class="col-2">
                    <button class="btn" id="headingTwo"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne" ><i class="fas fa-chevron-down"></i></button>    </div>
              </div>
              <!-- <h5 class="mb-0">
                <button class="btn btn-link title" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
  <h3 class=" title" > <strong>Trio Fijo  <i class="fas fa-phone-volume"></i> </strong></h3>
                 <h4>s/. 129</h4>
                </button>
                <button class="btn" ><i class="fas fa-chevron-down"></i></button>
              </h5> -->
            </div>
        
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
         </div>
      </div>
     
    </div>
  <!-- </div> -->
    
       
  </div>
</main>
