
* { box-sizing: border-box } 


main {
background-color: #ffff;
height: 91.3vh;
  
}
.data{
  width: 10px;
}
.custom-control{
  display: flex;
  justify-content: space-between;
  font-family: "Telefonica-Regular";


}

.hr{
  border-color: black
}
nav{
  background-color: #00ABE1;
  color: #fff
}
.iconIma{
width: 20px
}
.iconIma5{
  width: 35px
}
.title {  font-family: "Telefonica-Regular";

  color:  #00ABE1
}
.form-rounded {
  border-radius: 1rem;
border-color: #00ABE1;

  }
  .reciboiconos{
    font-size: 40px ;
    color:#00ABE1
  }

  @media (max-width: 600px) {
    .iconIma{
      width: 40px;
      }
      .iconIma5{
        width: 30px
      }
   .titulo{
     font-size: 20px
   }
   .adicional{
    font-size: 20px
   }
}